<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Site made with Mobirise Website Builder v4.12.1, https://mobirise.com -->
  <div th:replace="master/elements :: head-fragment"></div>
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <meta name="description" content="En esta pagina se visualizaran los articulos subidos por un usuario.">
  
  <title>Posts de Usuario</title>
</head>
<body>
<div th:replace="master/elements :: menu-fragment"></div>

<div class="container" th:if="post">
    <div class="row">
        <div class="col-md-3 mt-3">
            <div class="card bg-info">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <div class="text-center">
                            <img width="90" height="90" th:src="@{'/archivos/' + ${post.usuario.fotoUsuario}}"
                                 alt="foto" class="img-thumbnail">
                        </div>
                        <p class="text-center" th:text="${post.usuario.nombre}"></p>
                        <footer class="card-blockquote text-white">Categoria: <cite th:text="${post.categoria.tipo}"></cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3" th:text="${post.titulo}"></h1>
                    <p class="lead" th:text="${post.contenido}"></p>
                    <hr class="my-2">
                    <p>Mas Info</p>
                    <p class="lead">
                        Creado el <span th:text="${post.fechaCreacion}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="master/elements :: footer-fragment"></div>
</body>
</html>